.about {
  &__header-block {
    margin-bottom: 56px;
  }

  &__background {
    background-image: url('./../../img/about/about-bg.jpg');
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;

    @include mediaBg() {
      background-image: url('./../../img/about/about-bg@2x.jpg');
    }

    height: clamp(200px, 8.929rem + 17.86vw, 400px);

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease-in;
    transition-delay: 0.5s;

		&.active {
			opacity: 1;
      transform: translateY(0);
		}

    @media (min-width: 1620px) {
      height: 600px;
    }

    @media (min-width: 2048px) {
      height: 700px;
    }

    @include tablet-small {
      background-position: 30%;
    }

    // @include tablet {
    //   height: 350px;
    // }

    // @include tablet-small {
    //   height: 300px;
    //   background-position: 30%;
    // }

    // @include mobile {
    //   height: 250px;
    // }

    // @include mobile-m {
    //   height: 200px;
    // }
  }
}