.cars {
	&__container {
		max-width: 998px;
	}

  &__slider {
    // display: grid;
    // row-gap: 48px;

		transform: translateY(-30px);
		opacity: 0;

		transition: all 0.5s ease-in;

		&.active {
			transform: translateY(0);
			opacity: 1;
		}
  }
}