.header-block {
  text-align: center;

  &.anim {
    opacity: 0;
    transition: opacity 0.8s ease-in;
  }

  &__label {
    font-family: var(--font-label);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &--margin {
    margin-bottom: clamp(70px, 3.693rem + 3.41vw, 100px);
  }

  &.active {
    opacity: 1;
  }
}

.about .header-block {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-in;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}