.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	// width: 62px;
	// height: 62px;
}

.icon--heart-line {
	fill: rgb(241, 68, 131);
}

.icon--id-card-line {
	fill: rgb(51, 51, 51);
}
.icon--search-line {
	fill: rgb(28, 176, 80);
}

.icon--user-star {
	fill: rgb(26, 134, 235);
}

.icon--user {
	stroke: rgb(26, 134, 235);
	transition: all 0.2s ease-in;

	&:hover {
		stroke: rgb(17, 193, 90);
	}
}

.icon--social-logo-01 {
	// stroke: #222222;
}

.icon--brand-logo {
	fill: var(--brands-logo-ui);

	&-01 {
		max-width: 153px;
		max-height: 38px;
	}
	&-02 {
		max-width: 130px;
		max-height: 40px;
	}
	&-03 {
		max-width: 124px;
		max-height: 32px;
	}
	&-04 {
		max-width: 134px;
		max-height: 35px;
	}
	&-05 {
		max-width: 138px;
		max-height: 36px;
	}
	&-06 {
		max-width: 171px;
		max-height: 32px;
	}
}

.steps .icon--timeline-icon {
	fill: var(--brands-logo-ui);

	max-width: 64px;
	height: 64px;

	@include mobile {
		max-width: 48px;
		height: 48px;
	}
}

.steps .icon--timeline-open {
	fill: #fff;

	max-width: 64px;
	height: 64px;

	transition: fill 0.3s ease;
}

.icon--advantage {
	fill: var(--advantage-icon-ui);

	max-width: 46px;
	max-height: 46px;
}

.steps-about .icon--timeline-icon {
	fill: var(--brands-logo-ui);

	max-width: 64px;
	height: 64px;

	@include tablet-small {
		max-width: 48px;
		height: 48px;
	}
}

.steps-about .icon--timeline-open {
	fill: #fff;

	max-width: 64px;
	height: 64px;

	transition: fill 0.3s ease;
}

.icon--achievement {
	fill: var(--accent);

	max-width: 63px;
	height: 63px;
}

.icon--search-catalog {
	fill: var(--search-catalog-btn);

	max-width: 14px;
	height: 14px;
}

.icon--faq-arrow-up {
	fill: var(--faq-arrow-up);
	
	max-width: 24px;
	height: 24px;
}

.icon--faq-arrow-down {
	fill: var(--faq-arrow-down);

	max-width: 24px;
	height: 24px;
}

.icon--spec {
	fill: var(--car-spec-icon);

	max-width: 23px;
	height: 23px;
}