.steps-about {
  background-image: url('../../img/steps/steps-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include mediaBg() {
    background-image: url('../../img/steps/steps-bg@2x.jpg');
  }

  &__container {
		max-width: 1289px;
  }

  &__header-block {
  }

  &__timeline {
    
  }
}