.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 12px;
  max-width: 214px;

  // display: grid;
  // grid-template-columns: repeat(2, auto);
  
  &__top {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }

  &__bottom {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }

	&__btn {
	}

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}