<div class="testimonials-swiper swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <article class="testimonials__card anim">
        <h3 class="testimonials__title">WHAT OUR CUSTOMERS SAY</h3>
        <p class="testimonials__quote">&quot;My Drivoxe experience was nothing short of incredible. 
          The pristine car and impeccable service made my trip unforgettable. 
          I'll be back for more.&quot;</p>
        <div class="testimonials__profile">
          <div class="testimonials__avatar">
            <img src="./../../img/user-avatars/user-avatar-04.png" alt="user-04" 
            class="testimonials__image">
          </div>
          <h4 class="testimonials__name">Aleea Thompson</h4>
        </div>
      </article>
    </div>
    <div class="swiper-slide">
      <article class="testimonials__card">
        <h3 class="testimonials__title">WHAT OUR CUSTOMERS SAY</h3>
        <p class="testimonials__quote">&quot;The car I rented was in pristine condition and very comfortable. 
          Overall, Drivoxe provided top-notch service at a competitive price.&quot;</p>
        <div class="testimonials__profile">
          <div class="testimonials__avatar">
            <img src="./../../img/user-avatars/user-avatar-05.png" alt="user-05" 
            class="testimonials__image">
          </div>
          <h4 class="testimonials__name">Thomas Alfa</h4>
        </div>
      </article>
    </div>
    <div class="swiper-slide">
      <article class="testimonials__card">
        <h3 class="testimonials__title">WHAT OUR CUSTOMERS SAY</h3>
        <p class="testimonials__quote">&quot;Drivoxe exceeded my expectations with their 
          exceptional car rental service. The car was immaculate 
          and comfortable for our long road trip.&quot;</p>
        <div class="testimonials__profile">
          <div class="testimonials__avatar">
            <img src="./../../img/user-avatars/user-avatar-06.png" alt="user-06" 
            class="testimonials__image">
          </div>
          <h4 class="testimonials__name">Chelsea Davidson</h4>
        </div>
      </article>
    </div>
  </div>
  <!-- If we need navigation buttons -->
  <button id="sliderPrev" class="testimonials__button testimonials__button--prev">
    <img src="./../../../img/svgicons-no-sprite/arrow-left-medium-red.svg" alt="arrow-left-medium">
  </button>
  <button id="sliderNext" class="testimonials__button testimonials__button--next">
    <img src="./../../../img/svgicons-no-sprite/arrow-right-medium-red.svg" alt="arrow-right-medium">
  </button>

  <div class="swiper-pagination"></div>
</div>